<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>滨江，您好！</title>
	<atom:link href="https://jmbjj.gitlab.io/feed" rel="self" type="application/rss+xml" />
	<link>http://jmbjj.gitlab.io/</link>
	<description>NEWS</description>
	<lastBuildDate>Tue, 24 Dec 2019 02:34:58 +0000</lastBuildDate>
	<language>zh-CN</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.5</generator>
	<item>
		<title>世界，您好！</title>
		<link>https://jmbjj.gitlab.io/2019/1.html</link>
				<pubDate>Fri, 20 Dec 2019 01:53:10 +0000</pubDate>
		<dc:creator><![CDATA[管理员]]></dc:creator>
				<category><![CDATA[未分类]]></category>

		<guid isPermaLink="false">https://jmbjj.gitlab.io/?p=1</guid>
				<description><![CDATA[欢迎使用WordPress。这是您的第一篇文章。编辑或删除它，然后开始写作吧！]]></description>
								<content:encoded><![CDATA[
<p>欢迎使用WordPress。这是您的第一篇文章。编辑或删除它，然后开始写作吧！</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
