@media only screen and (min-width: 960px) and (max-width: 1119px) {.container {width: 940px;}
	#primary {width: 615px;}
	.sf-menu li a {font-size: 13px;}
	.sf-menu li li a {font-size: 13px;}
	.search-icon .genericon {font-size: 13px;}
	#primary-menu {margin-left: 15px;}
	.bxslider {height: 316px;}
	.content-list .thumbnail-link {width: 200px;}
	.footer-columns .footer-column-1, .footer-columns .footer-column-2, .footer-columns .footer-column-3, .footer-columns .footer-column-4 {width: 212px;}
	.entry-related .hentry {width: 270px;}
	.entry-related .hentry.last {margin-right: 25px;}
	.entry-related .hentry:nth-of-type(2n) {margin-right: 0;}
	.entry-related .hentry:nth-of-type(2n+1) {clear: left;}
	.entry-related .hentry:nth-of-type(3n+1) {clear: none;}
	.comment-form .comment-form-author, .comment-form .comment-form-email, .comment-form .comment-form-url {width: 171px;}}
@media only screen and (max-width: 959px) {#primary-nav {display: none;}
	.js .slicknav_menu {display: block;}
	#slick-mobile-menu {display: block;}
	.container {width: 98%;}
	.site-header {height: 75px;}
	.site-header .search-icon {right: 1%;}
	.search-icon span span {display: none;}
	#featured-content {background-color: transparent;padding: 0;}
	.bxslider {display: none;height: 100%;}
	.bx-wrapper {background-color: transparent;background: none;}
	#primary {float: none;width: 100%;margin-bottom: 25px;}
	#secondary {float: none;width: 100%;}
	.sidebar .widget_ad .widget-title, .site-footer .widget_ad .widget-title {text-align: left;}
	.sidebar .widget_newsletter, .site-footer .widget_newsletter {background-image: none;}
	#site-bottom {text-align: center;}
	#site-bottom .site-info {float: none;margin-bottom: 10px;}
	#site-bottom .footer-nav {float: none;}
	#site-bottom .footer-nav ul li {padding: 0 5px;}}
@media only screen and (min-width: 768px) and (max-width: 959px) {.entry-related .hentry {width: 31.33333%;margin-right: 3%;}
	.footer-columns .footer-column-1, .footer-columns .footer-column-2, .footer-columns .footer-column-3, .footer-columns .footer-column-4 {width: 49%;margin-right: 2%;}
	.footer-columns .footer-column-2, .footer-columns .footer-column-4 {margin-right: 0;}
	.footer-columns .footer-column-3 {clear: left;}
	.comment-form .comment-form-author, .comment-form .comment-form-email {width: 32%;margin-right: 2%;}
	.comment-form .comment-form-url {width: 32%;}}
@media only screen and (max-width: 767px) {.site-content {padding: 15px 0;}
	#featured-content .featured-slide .entry-header {bottom: 0;}
	.entry-summary {clear: both;display: block;}
	.entry-summary:before {content: " ";display: block;clear: both;}
	.single .entry-header {margin-bottom: 20px;}
	.single .entry-header .entry-author {display: none;}
	.comment-form .comment-form-author, .comment-form .comment-form-email, .comment-form .comment-form-url {width: 100%;}
	.footer-columns .footer-column-1, .footer-columns .footer-column-2, .footer-columns .footer-column-3, .footer-columns .footer-column-4 {width: 100%;margin: 0 0 0 0;}
	.footer-columns .footer-column-4 {border-bottom: none;margin-bottom: 0;}
	.content-search .thumbnail-link {width: 48px;}
	.content-search .entry-title {display: table;}
	.content-search .entry-meta {display: none;}
	.error-404 .page-content .search-form input.search-field {width: 200px;}
	#site-bottom {text-align: center;}
	#site-bottom .site-info {float: none;margin-bottom: 10px;}
	#site-bottom .footer-nav li {margin: 0 5px;}}
@media only screen and (min-width: 480px) and (max-width: 767px) {.site-main {padding: 15px;}
	#featured-content {margin-bottom: 15px;}
	#featured-content .featured-slide .entry-title {font-size: 24px;}
	.content-list .thumbnail-link {width: 140px;margin: 0 20px 20px 0;}
	.content-list .entry-title {display: table;font-size: 18px;}
	.content-list .entry-comment {display: none;}
	.entry-related .hentry {width: 48%;margin: 0 4% 20px 0;}
	.entry-related .hentry.last {margin-right: 4%;}
	.entry-related .hentry:nth-of-type(2n) {margin-right: 0;}
	.entry-related .hentry:nth-of-type(2n+1) {clear: left;}
	.entry-related .hentry:nth-of-type(3n+1) {clear: none;}}
@media only screen and (max-width: 479px) {.site-content {padding: 10px 0;}
	.site-branding img {max-height: 60px;}
	.site-title {font-size: 24px;}
	.site-main {padding: 10px;}
	.slicknav_btn {margin-right: 40px;}
	#featured-content {margin-bottom: 10px;}
	#featured-content .featured-slide .entry-title {font-size: 18px;}
	.bx-wrapper .bx-controls-direction a {height: 54px;margin-top: -27px;}
	.bx-wrapper .bx-prev {background-position: 0 -83px;}
	.bx-wrapper .bx-prev:hover {background-position: 0 -9px;}
	.bx-wrapper .bx-next {background-position: -40px -83px;}
	.bx-wrapper .bx-next:hover {background-position: -40px -9px;}
	.content-list .hentry {margin-bottom: 15px;padding-bottom: 15px;}
	.content-list .thumbnail-link {float: none;display: block;width: 100%;margin: 0 0 10px 0;}
	.content-list .entry-comment {display: none;}
	.content-list .entry-title {font-size: 18px;}
	.content-list .entry-category a {height: 24px;line-height: 24px;padding: 0 6px;}
	.single #primary .entry-comment {display: none;}
	.entry-related .hentry {width: 100%;}
	.pagination .page-numbers {font-size: 13px;padding: 0 10px;height: 30px;line-height: 30px;}
	.page-title, .single h1.entry-title, .page h1.entry-title {font-size: 24px;}
	#comments .comment-metadata, .comment-respond .comment-metadata {display: none;}}