@charset "UTF-8";
html {-webkit-text-size-adjust: 100%;}
*, *:before, *:after {box-sizing: border-box;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;word-wrap: break-word;}
body {line-height: 1;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}
nav ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";content: none;}
a {margin: 0;padding: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
ins {color: #333;text-decoration: none;}
mark {background-color: #ff9;color: #333;font-style: italic;font-weight: bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted;cursor: help;}
table {border-collapse: collapse;border-spacing: 0;}
hr {display: block;height: 1px;border: 0;border-top: 1px solid #eee;margin: 1em 0;padding: 0;}
input, select {vertical-align: middle;}
sup {top: -.5em;}
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
.no-list-style {list-style: none;margin: 0;padding: 0;}
figure > img {display: block;}
img {height: auto;max-width: 100%;}
img[class*="align"], img[class*="attachment-"] {height: auto;}
embed, iframe, object {max-width: 100%;width: 100%;}
.screen-reader-text {clip: rect(1px,1px,1px,1px);position: absolute !important;height: 1px;width: 1px;overflow: hidden;}
.screen-reader-text:focus {background-color: #f1f1f1;border-radius: 3px;box-shadow: 0 0 2px 2px rgba(0,0,0,.6);clip: auto !important;color: #21759b;display: block;font-size: 14px;font-size: .875rem;font-weight: bold;height: auto;left: 5px;line-height: normal;padding: 15px 23px 14px;text-decoration: none;top: 5px;width: auto;z-index: 100000;}
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {border: none;margin-bottom: 0;margin-top: 0;padding: 0;}
embed, iframe, object {max-width: 100%;}
.wp-caption {margin-bottom: 1.5em;max-width: 100%;}
.wp-caption img[class*="wp-image-"] {display: block;margin-left: auto;margin-right: auto;}
.wp-caption .wp-caption-text {margin: .5075em 0;}
.wp-caption-text {text-align: center;}
.gallery {margin-bottom: 1.5em;}
.gallery-item {display: inline-block;text-align: center;vertical-align: top;width: 100%;}
.gallery-columns-2 .gallery-item {max-width: 50%;}
.gallery-columns-3 .gallery-item {max-width: 33.33%;}
.gallery-columns-4 .gallery-item {max-width: 25%;}
.gallery-columns-5 .gallery-item {max-width: 20%;}
.gallery-columns-6 .gallery-item {max-width: 16.66%;}
.gallery-columns-7 .gallery-item {max-width: 14.28%;}
.gallery-columns-8 .gallery-item {max-width: 12.5%;}
.gallery-columns-9 .gallery-item {max-width: 11.11%;}
.gallery-caption {display: block;}
h1, h2, h3, h4, h5, h6 {color: #222;font-weight: normal;}
strong, b {font-weight: bold;}
input, textarea, select {-webkit-appearance: none;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
input, input[type="text"], input[type="email"], input[type="url"], input[type="search"], input[type="password"], textarea {font-size: 15px;font-weight: normal;background-color: #fff;border: 1px solid #ddd;outline: none;color: #333;}
input:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="password"]:focus, textarea:focus {border-color: #bfbfbf;outline: none;}
textarea {padding: 10px 15px;}
input[type="text"], input[type="email"], input[type="url"], input[type="search"], input[type="password"] {height: 40px;line-height: 40px;padding: 0 15px;}
button, .btn, input[type="submit"], input[type="reset"], input[type="button"] {border: none;color: #fff;padding: 0 15px;white-space: nowrap;vertical-align: middle;cursor: pointer;font-size: 14px;height: 40px;line-height: 40px;text-transform: uppercase;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-appearance: none;-webkit-backface-visibility: hidden;}
button:hover, .btn:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {opacity: .85;text-decoration: none;}
button:focus, textarea:focus {outline: 0;}
table {font-size: 14px;color: #333;border-width: 1px;border-color: #e9e9e9;border-collapse: collapse;width: 100%;}
table th {border-width: 1px;padding: 8px;border-style: solid;border-color: #e6e6e6;background-color: #f0f0f0;}
table tr:hover td {background-color: #f9f9f9;}
table td {border-width: 1px;padding: 8px;border-style: solid;border-color: #e6e6e6;background-color: #fff;}
.alignleft {float: left;margin: 0 20px 20px 0;}
.alignright {float: right;margin: 0 0 20px 20px;}
.aligncenter {display: block;margin: 0 auto;text-align: center;clear: both;}
.alignnone {display: block;}
.clear:before, .clear:after {content: "";display: table;}
.clear:after {clear: both;}
.clear {clear: both;}
.screen-reader-text {clip: rect(1px,1px,1px,1px);position: absolute;}
.sticky, .bypostauthor {background: inherit;color: inherit;}
body {background: #f5f5f5;color: #333;font-style: normal;font-size: 16px;font-weight: 400;line-height: 1.6em;}
a {color: #222;text-decoration: none;}
a:hover {text-decoration: none;}
a:visited {color: #222;}
a:active, a:focus {outline: 0;}
.container {margin: 0 auto;width: 1120px;}
@font-face {font-family: "Genericons";src: url("genericons/font/genericons-regular-webfont.eot");src: url("genericons/font/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"),url("genericons/font/genericons-regular-webfont.woff") format("woff"),url("genericons/font/genericons-regular-webfont.ttf") format("truetype"),url("genericons/font/genericons-regular-webfont.svg#genericonsregular") format("svg");font-weight: normal;font-style: normal;}
.bypostauthor > article .fn:before, .comment-edit-link:before, .comment-reply-link:before, .comment-reply-login:before, .comment-reply-title small a:before, .comment-list .children li:before, .contributor-posts-link:before, .menu-toggle:before, .search-toggle:before, .slider-direction-nav a:before, .widget_happythemes_ephemera .widget-title:before {-webkit-font-smoothing: antialiased;display: inline-block;font: normal 16px/1 Genericons;text-decoration: inherit;vertical-align: text-bottom;}
#masthead .container {position: relative;}
.wp-custom-header {position: absolute;top: 0;height: 75px;width: 100%;overflow: hidden;text-align: center;}
.wp-custom-header img {margin: 0 auto;}
.site-header {background-color: #fff;width: 100%;height: 75px;line-height: 1;}
.site-header .search-icon {display: block;position: absolute;top: 27px;right: 0;}
.site-header .search-icon:hover {cursor: pointer;}
.site-header .search-icon span:before {color: #222;font-size: 22px;vertical-align: middle;}
.site-header .search-icon .genericon-search.active {display: none;}
.site-header .search-icon .genericon-close {display: none;}
.site-header .search-icon .genericon-close.active {display: inline-block;}
.search-input {background: #fff;border: 1px solid #ddd;outline: none;height: 38px;line-height: 38px;color: #333;text-indent: 5px;}
.search-input:focus {background-color: #fff;border-color: #bfbfbf;}
.search-submit {border-left: none;color: #fff;font-size: 16px;height: 38px;line-height: 1;outline: none;cursor: pointer;text-align: center;vertical-align: middle;}
.header-search {display: none;background-color: #fff;border-top: 3px solid;line-height: 1;width: 300px;height: 60px;position: absolute;top: 75px;right: 0;z-index: 999;box-shadow: rgba(190,190,190,.45882) 0px 1px 5px;-webkit-box-shadow: rgba(190,190,190,.45882) 0px 1px 5px;}
.header-search:after {color: #999;font-family: "Genericons";font-size: 22px;content: "";position: absolute;top: 19px;left: 24px;}
.header-search .search-input {background: #f5f5f5;border: none;color: #222;font-size: 16px;width: 249px;height: 32px;padding-left: 38px;position: absolute;top: 13px;left: 13px;}
.header-search .search-submit {border: none;box-shadow: none;color: #fff;font-size: 14px;height: 32px;position: absolute;top: 13px;right: 13px;width: 60px;text-align: center;text-transform: uppercase;}
.header-search .search-submit:hover {opacity: .85;}
.site-branding {float: left;text-align: left;}
.site-branding #logo {height: 75px;}
.site-branding .helper {display: inline-block;height: 100%;vertical-align: middle;}
.site-branding img {max-height: 75px;vertical-align: middle;width: auto;}
.site-title {font-size: 1.4em;line-height: 75px;}
.site-title a {color: #333;display: block;text-decoration: none;}
.site-title a:hover {text-decoration: none;}
.site-description {color: #999;font-size: .85em;}
.sf-menu * {margin: 0;padding: 0;list-style: none;}
.sf-menu {margin: 0;padding: 0;list-style: none;}
.sf-menu li {position: relative;}
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {display: block;}
.sf-menu ul {position: absolute;display: none;top: 100%;left: 0;z-index: 99;}
.sf-menu ul ul {top: 1px;left: 225px;}
.sf-menu > li {float: left;}
.sf-menu a {display: block;position: relative;}
.sf-menu {float: left;}
.sf-menu ul {background-color: #fff;width: 240px;padding: 0 15px;box-shadow: rgba(190,190,190,.45882) 0px 1px 5px;-webkit-box-shadow: rgba(190,190,190,.45882) 0px 1px 5px;}
.sf-menu a {text-decoration: none;zoom: 1;}
.sf-menu li {white-space: nowrap;line-height: 75px;}
.sf-menu li a {color: #2c3644;font-size: 15px;padding: 0 15px;text-transform: uppercase;}
.sf-menu li a:before {border-bottom: 3px solid;display: block;content: "";width: 100%;position: absolute;bottom: 0;left: 0;transform: scaleX(0);transition: transform 250ms ease-in-out;}
.sf-menu li a:hover {background-color: #f9f9f9;}
.sf-menu li a:hover:before {transform: scaleX(1);}
.sf-menu li.sfHover a, .sf-menu li.current-menu-item a, .sf-menu li.current-menu-item a:hover {background-color: #f9f9f9;}
.sf-menu li.sfHover a:before, .sf-menu li.current-menu-item a:before, .sf-menu li.current-menu-item a:hover:before {transform: scaleX(1);}
.sf-menu li li {height: auto;line-height: 1.5;border-bottom: 1px solid #f0f0f0;}
.sf-menu li li:last-child {border-bottom: none;}
.sf-menu li li a {background: none !important;color: #222;font-size: 15px;padding: 12px 0;}
.sf-menu li li a:before {content: none;}
.sf-menu li li ul {margin-top: -1px;}
.sf-menu li:hover li a, .sf-menu li.sfHover li a {color: #222;display: block;}
.sf-arrows .sf-with-ul {padding-right: 27px;}
.sf-arrows .sf-with-ul:after {position: absolute;top: 50%;right: 24px;margin-top: -8px;height: 0;width: 0;content: "";font: normal 14px/1 "Genericons";display: inline-block;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.sf-arrows ul .sf-with-ul:after {right: 5px;margin-top: -5px;margin-right: 0;content: "";font: normal 9px/1 "Genericons";display: inline-block;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
#primary-menu {margin-left: 25px;}
.entry-title a, .entry-title a:visited {color: #222;}
.site-content {padding: 30px 0;}
#primary {float: left;width: 790px;}
.site-main {background-color: #fff;padding: 25px;}
.thumbnail-wrap {position: relative;}
.thumbnail-wrap .video-length {display: none;position: absolute;right: 3px;bottom: 3px;background-color: #333;background-color: rgba(0,0,0,.7);color: #fff;color: rgba(255,255,255,.9);line-height: 1;font-size: 11px;padding: 2px 3px;}
.breadcrumbs {margin-bottom: 20px;}
.breadcrumbs h1 {color: #999;}
.entry-category {margin-right: 15px;}
.entry-category a {border: 1px solid #037ef3;border-radius: 2px;color: #037ef3 !important;display: inline-block;line-height: 1;padding: 5px 6px;text-transform: uppercase;-webkit-backface-visibility: hidden;}
.entry-category a:hover {background-color: #037ef3;color: #fff !important;text-decoration: none;}
.post-link {display: block;position: relative;}
.content-list {margin-bottom: -25px;}
.content-list .thumbnail-link {float: left;width: 210px;margin: 0 25px 0 0;line-height: .5;}
.content-list .thumbnail-link img {width: 100%;height: auto;}
.content-list .entry-summary {display: table;margin-bottom: 20px;}
.content-list .hentry {border-bottom: 1px solid #e9e9e9;margin-bottom: 30px;padding-bottom: 30px;position: relative;}
.content-list .hentry:last-child {border-bottom: none;padding-bottom: 0;}
.content-list .entry-title {font-size: 24px;line-height: 1.25;margin-bottom: 20px;}
.content-list .entry-title a:hover {text-decoration: none;}
.content-list .entry-summary {display: table;line-height: 1.8;}
.content-list .entry-summary p {display: inline;}
.content-list .content-ad {line-height: 1;margin-bottom: 25px;text-align: center;}
.content-list .content-ad .widget-title {display: none;}
.content-list .content-ad img {line-height: .8;max-width: 100%;}
.read-more a, .read-more a:visited {font-size: 14px;text-transform: uppercase;}
.read-more a:hover {text-decoration: none;}
.content-list .entry-meta, .content-search .entry-meta, .single #primary .entry-meta {font-size: 13px;position: relative;color: #999;}
.content-list .entry-meta:after, .content-search .entry-meta:after, .single #primary .entry-meta:after {clear: both;content: " ";display: block;}
.content-list .entry-meta a, .content-search .entry-meta a, .single #primary .entry-meta a {color: #999;}
.content-list .entry-meta a:hover, .content-search .entry-meta a:hover, .single #primary .entry-meta a:hover {color: #222;}
.content-list .entry-meta .meta-right, .content-search .entry-meta .meta-right, .single #primary .entry-meta .meta-right {float: right;}
.content-list .entry-meta .entry-date, .content-search .entry-meta .entry-date, .single #primary .entry-meta .entry-date {margin-right: 15px;}
.content-list .entry-meta .entry-comment, .content-search .entry-meta .entry-comment, .single #primary .entry-meta .entry-comment {margin-left: 8px;position: relative;}
.content-list .entry-meta .entry-comment:before, .content-search .entry-meta .entry-comment:before, .single #primary .entry-meta .entry-comment:before {background-color: #e9e9e9;content: " ";display: inline-block;height: 14px;width: 1px;margin-right: 8px;position: relative;top: 2px;}
.content-search .hentry {border-bottom: 1px solid #eee;margin: 0 0 20px 0;padding: 0 0 20px 0;}
.content-search .hentry.last {border-bottom: 0;margin: 0;padding: 0;}
.content-search .entry-title {font-size: 18px;margin-bottom: 10px;}
.content-search .entry-meta {font-size: 12px;}
.content-search .thumbnail-link {float: left;width: 96px;margin: 0 18px 0 0;line-height: .5;}
.pagination {margin: 40px 0 10px 0;width: 100%;text-align: center;}
.pagination .page-numbers {background-color: #fff;display: inline-block;font-size: 16px;height: 44px;line-height: 44px;padding: 0 15px;text-transform: uppercase;}
.pagination .page-numbers:hover {color: #fff;text-decoration: none;}
.pagination .page-numbers.dots:hover {color: #333;background-color: transparent;}
.pagination .page-numbers.current {color: #fff;}
.pagination .prev, .pagination .next {position: relative;}
.page-title {font-size: 30px;margin-bottom: 25px;line-height: 1.2;}
.entry-share {position: relative;-webkit-transition: 200ms;transition: 200ms;}
.entry-share a, .entry-share a:visited {border-radius: 2px;color: #fff;font-size: 13px;display: inline-block;height: 38px;margin: 0 8px 0 0;padding: 0 13px;-webkit-backface-visibility: hidden;}
.entry-share a img, .entry-share a:visited img {display: block;float: left;width: 14px;height: auto;margin: 12px 0 0 0;}
.entry-share a span, .entry-share a:visited span {display: inline-block;height: 14px;line-height: 14px;margin-top: 12px;}
.entry-share a.twitter span, .entry-share a.facebook span, .entry-share a:visited.twitter span, .entry-share a:visited.facebook span {border-left: 1px solid rgba(255,255,255,.2);margin-left: 10px;padding-left: 10px;}
.entry-share a.google-plus span, .entry-share a.pinterest span, .entry-share a:visited.google-plus span, .entry-share a:visited.pinterest span {text-indent: -9999em !important;}
.entry-share a:hover {color: #fff;opacity: .85;}
.social-twitter {background-color: #29c5f6;}
.social-facebook {background-color: #516eab;}
.social-pinterest {background-color: #ca212a;}
.social-google-plus {background-color: #eb4026;}
.single .entry-header {border-bottom: 1px solid #f0f0f0;margin-bottom: 30px;padding-bottom: 20px;}
.single .entry-header .entry-meta .entry-author {margin-right: 15px;}
.single .entry-header .entry-meta .enrty-date {float: right;}
.single .entry-footer {margin-top: 25px;}
.error404 .site-main .entry-thumbnail, .single .site-main .entry-thumbnail, .page .site-main .entry-thumbnail {margin-bottom: 10px;}
.error404 h1.entry-title, .single h1.entry-title, .page h1.entry-title {font-size: 30px;line-height: 1.25;margin-bottom: 15px;}
.error404 .entry-content label, .error404 .page-content label {display: inline-block;}
.entry-related {border-top: 1px solid #e9e9e9;margin: 25px 0 -25px 0;padding: 25px 0 0 0;}
.entry-related h3 {font-size: 20px;margin-bottom: 20px;text-transform: uppercase;}
.entry-related .hentry {float: left;width: 230px;margin: 0 25px 25px 0;}
.entry-related .hentry.last {margin-right: 0;}
.entry-related .hentry:nth-of-type(3n+1) {clear: left;}
.entry-related .hentry .entry-title {font-size: 16px;line-height: 1.35;display: table;}
.entry-related .hentry .entry-meta {font-size: 13px;}
.entry-related .hentry .thumbnail-link {float: left;width: 100%;margin: 0 0 10px 0;}
.entry-related .hentry .thumbnail-wrap {height: auto;line-height: .8;}
.entry-tags {color: #999;margin-bottom: -5px;}
.entry-tags span {font-size: 13px;margin-right: 10px;}
.entry-tags .tag-links a {background-color: #fff;border: 1px solid #a0ac48;border-radius: 2px;display: inline-block;color: #a0ac48;font-size: 13px;height: 25px;line-height: 23px;margin: 0 2px 5px 0;padding: 0 6px;position: relative;text-transform: uppercase;}
.entry-tags .tag-links a:hover {background-color: #a0ac48;color: #fff;text-decoration: none;}
.page-content a:hover, .entry-content a:hover {text-decoration: underline;}
.page-content .wp-post-image, .entry-content .wp-post-image {margin-bottom: 20px;width: 100%;}
.page-content img, .entry-content img {margin-bottom: 20px;}
.page-content .wp-caption img, .entry-content .wp-caption img {margin-bottom: 0;}
.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6, .entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {margin-bottom: 25px;line-height: 1.35;}
.page-content h1, .entry-content h1 {font-size: 30px;}
.page-content h2, .entry-content h2 {font-size: 26px;}
.page-content h3, .entry-content h3 {font-size: 22px;}
.page-content h4, .entry-content h4 {font-size: 18px;}
.page-content h5, .page-content h6, .entry-content h5, .entry-content h6 {font-size: 16px;}
.page-content p, .entry-content p {text-indent: 2rem;line-height: 1.8;margin-bottom: 25px;}
.page-content ul, .page-content ol, .entry-content ul, .entry-content ol {margin: 0 0 25px 0;}
.page-content ul ul, .page-content ul ol, .page-content ol ul, .page-content ol ol, .entry-content ul ul, .entry-content ul ol, .entry-content ol ul, .entry-content ol ol {margin: 8px 0 0 25px;}
.page-content ul li, .entry-content ul li {list-style: none;margin: 0 0 10px 0;padding-left: 18px;position: relative;}
.page-content ul li:hover:before, .entry-content ul li:hover:before {color: #333;}
.page-content ul li:before, .entry-content ul li:before {border-radius: 3px;background-color: #ccc;content: " ";display: inline-block;width: 6px;height: 6px;position: absolute;left: 0;top: 10px;}
.page-content ul li ul li, .entry-content ul li ul li {list-style: none;}
.page-content ol li, .entry-content ol li {list-style: inside decimal;margin: 0 0 10px 0;}
.page-content select, .entry-content select {padding: 0 5px;}
.page-content select:focus, .page-content select:active, .entry-content select:focus, .entry-content select:active {outline: none;}
.page-content dl, .entry-content dl {margin-bottom: 20px;}
.page-content fieldset, .entry-content fieldset {border: 1px solid #e9e9e9;margin: 0 2px 20px 2px;padding: .35em .625em .75em;}
.page-content input[type="radio"], .entry-content input[type="radio"] {-webkit-appearance: radio;}
.page-content input[type="checkbox"], .entry-content input[type="checkbox"] {-webkit-appearance: checkbox;}
.page-content ::-webkit-file-upload-button, .entry-content ::-webkit-file-upload-button {-webkit-appearance: button;font: inherit;}
.page-content table, .entry-content table {margin-bottom: 20px;}
.page-content select, .entry-content select {border: 1px solid #e9e9e9;font-size: 1em;-webkit-border-radius: 3px;border-radius: 3px;height: 2em;max-width: 100%;-webkit-appearance: menulist;}
.page-content input[type="text"], .page-content input[type="email"], .page-content input[type="url"], .page-content input[type="search"], .page-content input[type="password"], .entry-content input[type="text"], .entry-content input[type="email"], .entry-content input[type="url"], .entry-content input[type="search"], .entry-content input[type="password"] {width: 300px;}
.page-content input[type="file"], .entry-content input[type="file"] {border: none;}
.page-content textarea, .entry-content textarea {width: 100%;height: 200px;}
.page-content .wp-caption, .entry-content .wp-caption {background-color: #f7f7f7;padding: 0 0 1px 0;}
.page-content .wp-caption-text, .entry-content .wp-caption-text {font-size: 13px;font-style: italic;color: #999;}
blockquote {color: #999;font-size: 18px;font-style: italic;padding: .25em 50px;line-height: 1.45;position: relative;}
blockquote:before {display: block;content: "“";font-size: 64px;position: absolute;left: 0;top: -15px;color: #ccc;}
blockquote cite {color: #333;display: block;margin-top: 10px;}
blockquote cite:before {content: "— ";}
#primary p, .widget p, .entry-summary, .author-desc {line-height: 1.8em;}
.search-no-results .page-title {font-size: 18px;margin-bottom: 10px;}
.comment-respond {border-top: 1px solid #e9e9e9;margin: 25px 0 0 0;padding: 25px 0 0 0;}
.comments-title {font-size: 20px;text-transform: uppercase;margin-bottom: 20px;border-top: 1px solid #e9e9e9;margin-top: 25px;padding-top: 25px;}
.comment-reply-title {font-size: 20px;margin-bottom: 20px;text-transform: uppercase;}
.comment-list {list-style: none;}
.comment-author {font-size: 14px;}
.comment-meta {margin-bottom: 4px;}
.comment-list .reply, .comment-metadata {font-size: 13px;}
.comment-list .reply {margin-top: 10px;}
.comment-author .fn {font-weight: normal;}
.comment-author a {color: #2b2b2b;}
.comment-list .trackback a, .comment-list .pingback a, .comment-metadata a, .comment-list .reply a {color: #999;}
.comment-list .trackback a:hover, .comment-list .pingback a:hover, .comment-metadata a:hover, .comment-list .reply a:hover {color: #333;}
.comment-author a:hover {color: #222;}
.comment-list article, .comment-list .pingback, .comment-list .trackback {margin: 0 0 20px 0;border-top: 1px solid #f0f0f0;padding-top: 20px;}
.comment-list > li:first-child > article, .comment-list > .pingback:first-child, .comment-list > .trackback:first-child {border-top: 0;padding-top: 0;}
.comment-author {position: relative;}
.comment-author .avatar {border-radius: 50%;position: absolute;top: 0;left: 0;width: 48px;height: auto;}
.bypostauthor > article .fn:before {color: #fbb034;content: "";margin: 0 2px 0 -2px;position: relative;top: -1px;}
.says {display: none;}
.comment-author, .comment-awaiting-moderation, .comment-content, .comment-list .reply {padding-left: 64px;}
.comment-author {display: inline;}
.comment-metadata {display: inline;margin-left: 7px;}
.comment-edit-link {margin-left: 10px;}
.comment-edit-link:hover {text-decoration: none;}
#cancel-comment-reply-link:hover {text-decoration: none;}
.comment-edit-link:before {content: "";}
.comment-reply-link:hover {text-decoration: none;}
.comment-reply-link:before, .comment-reply-login:before {content: "";color: #aaa;margin-right: 2px;}
.comment-content {-webkit-hyphens: auto;-moz-hyphens: auto;-ms-hyphens: auto;hyphens: auto;word-wrap: break-word;}
.comment-content ul, .comment-content ol {margin: 0 0 24px 22px;}
.comment-content li > ul, .comment-content li > ol {margin-bottom: 0;}
.comment-content > :last-child {margin-bottom: 0;}
.comment-list .children {list-style: none;margin-left: 64px;}
.comment .comment-respond {margin: 25px 0;}
.comment-respond h3 {margin-top: 0;}
.comment-notes, .comment-awaiting-moderation, .logged-in-as, .no-comments, .form-allowed-tags, .form-allowed-tags code {color: #999;}
.comment-notes a, .comment-awaiting-moderation a, .logged-in-as a, .no-comments a, .form-allowed-tags a, .form-allowed-tags code a {color: #999;}
.comment-notes a:hover, .comment-awaiting-moderation a:hover, .logged-in-as a:hover, .no-comments a:hover, .form-allowed-tags a:hover, .form-allowed-tags code a:hover {color: #222;}
.comment-notes, .comment-awaiting-moderation, .logged-in-as {font-size: 14px;margin-bottom: 10px;}
.no-comments {font-size: 16px;font-weight: 900;line-height: 1.5;margin-top: 24px;text-transform: uppercase;}
.comment-form .comment-form-comment, .comment-form .comment-form-author, .comment-form .comment-form-email, .comment-form .comment-form-url {margin-bottom: 20px;}
.comment-form textarea {width: 100%;}
.comment-form .comment-form-author, .comment-form .comment-form-email, .comment-form .comment-form-url {width: 230px;}
.comment-form .comment-form-author {float: left;margin-right: 25px;}
.comment-form .comment-form-email {float: left;margin-right: 25px;}
.comment-form .comment-form-url {float: left;}
.comment-form:after {content: "";display: block;clear: both;}
.comment-form .submit {font-size: 14px;padding: 0 18px;}
.comment-form label {font-size: 14px;}
.comment-form-cookies-consent {display: none;margin-bottom: 20px;}
.comment-form input[type="text"], .comment-form input[type="email"], .comment-form input[type="url"] {width: 100%;}
.form-allowed-tags, .form-allowed-tags code {font-size: 12px;line-height: 1.5;}
.required {color: #c0392b;}
.comment-reply-title small a {color: #2b2b2b;float: right;height: 24px;overflow: hidden;width: 24px;}
.comment-reply-title small a:before {content: "";font-size: 20px;}
.comment-navigation {font-size: 12px;line-height: 2;margin-bottom: 48px;text-transform: uppercase;}
.comment-navigation .nav-next, .comment-navigation .nav-previous {display: inline-block;}
.comment-navigation .nav-previous a {margin-right: 10px;}
#comment-nav-above {margin-top: 36px;margin-bottom: 0;}
.sidebar {float: right;width: 300px;}
.sidebar .widget {background-color: #fff;margin-bottom: 25px;padding: 20px;line-height: 1.4;}
.sidebar .widget .widget-title {border-bottom: 1px solid #e9e9e9;color: #222;font-size: 18px;margin: -5px 0 20px;padding-bottom: 10px;position: relative;}
.sidebar .widget .widget-title:before {background-color: #037ef3;content: " ";width: 4px;height: 20px;position: absolute;top: 3px;left: -20px;}
.sidebar .widget p {margin-bottom: 15px;}
.sidebar .widget ul .children, .sidebar .widget ul .sub-menu {padding-left: 1.5em;}
.sidebar .widget ul .children li:first-child, .sidebar .widget ul .sub-menu li:first-child {padding: 15px 0;border-top: 1px solid #e9e9e9;}
.sidebar .widget ul > li {list-style: none;margin-bottom: 15px;position: relative;}
.sidebar .widget ul > li a {color: #333;}
.sidebar .widget ul li:last-child {margin-bottom: 0;}
.sidebar .widget select {width: 100%;max-width: 100%;}
.sidebar .widget_search input[type='search'] {width: 180px;}
.sidebar .widget_search button.search-submit, .sidebar .widget_search input[type='submit'] {width: 75px;text-align: center;padding-left: 0;padding-right: 0;}
.sidebar .widget_social_icons ul li, .sidebar .widget_posts_thumbnail ul li {list-style: none;}
.sidebar .widget_social_icons ul li:before, .sidebar .widget_posts_thumbnail ul li:before {content: none;display: none;}
.sidebar .widget_posts_thumbnail {color: #999;line-height: 1.4;}
.sidebar .widget_posts_thumbnail ul > li {margin-bottom: 20px;padding: 0 !important;}
.sidebar .widget_posts_thumbnail .thumbnail-wrap, .sidebar .widget_posts_thumbnail .wp-post-image, .sidebar .widget_posts_thumbnail img {width: 90px;height: auto;}
.widget_posts_thumbnail ul li {margin: 0 0 20px 0;}
.widget_posts_thumbnail li:after {content: "";display: block;clear: both;}
.widget_posts_thumbnail .entry-thumbnail {float: left;}
.widget_posts_thumbnail .entry-wrap {display: table;line-height: 1.4;}
.widget_posts_thumbnail .entry-wrap a {font-size: 14px;}
.widget_posts_thumbnail .thumbnail-wrap {float: left;margin: 0 12px 0 0;line-height: 0;}
.widget_posts_thumbnail .entry-meta {font-size: 13px;margin-top: 5px;}
.widget_tag_cloud .tagcloud a {border: 1px solid #a0ac48;border-radius: 2px;display: inline-block;color: #a0ac48 !important;font-size: 13px !important;height: 25px;line-height: 23px;margin: 0 2px 5px 0;padding: 0 6px;position: relative;text-transform: uppercase;}
.widget_tag_cloud .tagcloud a:hover {background-color: #a0ac48;color: #fff !important;text-decoration: none !important;}
.widget_recent_entries .post-date {font-size: 13px;color: #999;margin-left: 5px;}
.sidebar, .site-footer {}
.sidebar .widget_ad, .site-footer .widget_ad {background: none;padding: 0;position: relative;}
.sidebar .widget_ad .adwidget, .site-footer .widget_ad .adwidget {line-height: .8;}
.sidebar .widget_ad img, .site-footer .widget_ad img {line-height: .8;}
.sidebar .widget_ad .widget-title, .site-footer .widget_ad .widget-title {border-bottom: none;color: #fff;display: none;font-size: 12px;margin: 0;padding: 0;padding: 2px 5px;position: absolute;bottom: 0;left: 0;z-index: 999;background: rgba(50,50,50,.8);border-top-right-radius: 10px;}
.sidebar .widget_ad .widget-title:before, .site-footer .widget_ad .widget-title:before {content: none;}
.sidebar .widget_newsletter, .site-footer .widget_newsletter {background-color: #2c3644;background-image: url("assets/img/icon-mail-trans.png");background-repeat: no-repeat;background-position: 110% -20px;color: #8b95a4;width: 100%;padding: 20px;}
.sidebar .widget_newsletter .widget-title, .site-footer .widget_newsletter .widget-title {color: #fff;}
.sidebar .widget_newsletter .widget-title span, .site-footer .widget_newsletter .widget-title span {background: none;}
.sidebar .widget_newsletter .widget-title:after, .site-footer .widget_newsletter .widget-title:after {content: none;}
.sidebar .widget_newsletter p, .site-footer .widget_newsletter p {color: #8b95a4;}
.sidebar .widget_newsletter form input[type="text"], .sidebar .widget_newsletter form input[type="email"], .site-footer .widget_newsletter form input[type="text"], .site-footer .widget_newsletter form input[type="email"] {border: none;width: 100%;margin-top: 15px;}
.sidebar .widget_newsletter form input[type="text"]:focus, .sidebar .widget_newsletter form input[type="email"]:focus, .site-footer .widget_newsletter form input[type="text"]:focus, .site-footer .widget_newsletter form input[type="email"]:focus {border: none;}
.sidebar .widget_newsletter form input[type="submit"], .sidebar .widget_newsletter form input[type="button"], .sidebar .widget_newsletter form button, .site-footer .widget_newsletter form input[type="submit"], .site-footer .widget_newsletter form input[type="button"], .site-footer .widget_newsletter form button {border: none;color: #fff;font-size: 14px;width: 100%;margin-top: 15px;}
.sidebar .widget_social_icons, .site-footer .widget_social_icons {padding: 20px 0;}
.sidebar .widget_social_icons:before, .site-footer .widget_social_icons:before {display: none;}
.sidebar .widget_social_icons .widget-title, .site-footer .widget_social_icons .widget-title {text-align: center;margin-bottom: 5px;}
.sidebar .widget_social_icons .widget-title span, .site-footer .widget_social_icons .widget-title span {background: none;padding: 0 10px;}
.sidebar .widget_social_icons .widget-title:after, .site-footer .widget_social_icons .widget-title:after {content: none;}
.sidebar .widget_social_icons .desc, .site-footer .widget_social_icons .desc {color: #999;font-size: 14px;margin-bottom: 20px;text-align: center;}
.sidebar .widget_social_icons ul, .site-footer .widget_social_icons ul {text-align: center;}
.sidebar .widget_social_icons ul li, .site-footer .widget_social_icons ul li {border: none;display: inline-block;margin: 0 5px;padding: 0;}
.sidebar .widget_social_icons ul li a, .site-footer .widget_social_icons ul li a {display: block;width: 32px;text-align: center;}
.footer-columns {background: #fff;border-bottom: 1px solid #e9e9e9;padding: 40px 0 20px 0;}
.footer-columns .section-header {font-size: 32px;margin-bottom: 20px;}
.footer-columns .widget {margin-bottom: 20px;}
.footer-columns .widget_posts_thumbnail .thumbnail-wrap, .footer-columns .widget_posts_thumbnail .wp-post-image, .footer-columns .widget_posts_thumbnail img {width: 80px;height: auto;}
.footer-columns .footer-column-1, .footer-columns .footer-column-2, .footer-columns .footer-column-3, .footer-columns .footer-column-4 {float: left;width: 242px;margin: 0 30px 0 0;box-sizing: content-box;position: relative;}
.footer-columns .footer-column-4 {margin-right: 0;}
.site-footer .widget {font-size: 13px;margin-bottom: 25px;}
.site-footer .widget .widget-title {font-size: 18px;margin-bottom: 20px;}
.site-footer .widget p {margin-bottom: 15px;}
.site-footer .widget ul .children, .site-footer .widget ul .sub-menu {padding-left: 1.5em;}
.site-footer .widget ul .children li:first-child, .site-footer .widget ul .sub-menu li:first-child {border-top: none;padding-top: 0;}
.site-footer .widget ul .children li:last-child, .site-footer .widget ul .sub-menu li:last-child {border-bottom: none;padding-bottom: 0;}
.site-footer .widget ul > li {list-style: none;padding: 0;margin-bottom: 10px;}
.site-footer .widget ul > li a {color: #333;}
.site-footer .widget ul li:first-child {border-top: none;padding-top: 0;}
.site-footer .widget ul li:last-child {border-bottom: none;margin-bottom: 0;padding-bottom: 0;}
.site-footer .widget select {width: 100%;max-width: 100%;}
.site-footer .widget_posts_thumbnail ul li {margin-bottom: 20px;}
.site-footer .widget_posts_thumbnail ul li a {font-size: 13px;}
.site-footer .widget_posts_thumbnail .thumbnail-wrap {line-height: .5;}
.site-footer .widget_posts_thumbnail .entry-meta {color: #999;}
.site-footer .widget_search input[type='search'] {width: 100%;margin-bottom: 10px;}
.site-footer .widget_search input[type='submit'] {width: 100%;}
#back-top {display: none;position: fixed;bottom: 15px;right: 15px;}
#back-top a span {color: #fff;font-size: 18px;width: 30px;height: 30px;display: block;line-height: 30px;text-align: center;text-decoration: none;vertical-align: middle;}
#back-top a:hover span {color: #fff;}
#back-top a:hover {text-decoration: none;}
#site-bottom {background-color: #fff;font-size: 12px;padding: 20px 0;}
#site-bottom .site-info {float: left;}
#site-bottom .footer-nav {float: right;}
#site-bottom .footer-nav li {display: inline-block;list-style: none;line-height: 1;margin-left: 25px;}
#site-bottom .footer-nav li:last-child {border-right: none;padding-right: 0;}
#site-bottom .footer-nav li li {display: none;}
_::-webkit-full-page-media .header-search .search-input, _:future .header-search .search-input, :root .header-search .search-input {line-height: 30px;width: 273px;}
.slicknav_menu, #slick-mobile-menu {display: none;}
.full-width {float: none;width: 100% !important;}
.bx-wrapper {position: relative;padding: 0;-ms-touch-action: pan-y;touch-action: pan-y;}
.bx-wrapper img {max-width: 100%;display: block;}
.bxslider {margin: 0;padding: 0;}
ul.bxslider {list-style: none;}
.bx-viewport {-webkit-transform: translatez(0);}
.bxslider {width: 100%;height: 414px;overflow: hidden;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {position: absolute;top: 0;right: 10px;}
.bx-wrapper .bx-loading {min-height: 50px;background: url("assets/img/bx_loader.gif") center center no-repeat #fff;height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 2000;}
.bx-wrapper .bx-pager {text-align: center;font-size: .85em;font-family: Arial;font-weight: bold;color: #666;background: rgba(50,50,50,.6);border-radius: 9px;height: 18px;line-height: 18px;position: absolute;padding: 0 6px;right: 10px;top: 10px;}
.bx-wrapper .bx-pager.bx-default-pager a {background: #fff;text-indent: -9999px;display: block;width: 6px;height: 6px;margin: 0 4px;outline: 0;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;transition: all .2s;}
.bx-wrapper .bx-pager.bx-default-pager a.active {width: 18px;}
.bx-wrapper .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block;vertical-align: middle;}
.bx-wrapper .bx-pager-item {font-size: 0;line-height: 0;}
.bx-wrapper .bx-prev {left: 0;background: url("assets/img/btn-nav.png") no-repeat;background-position: 0 -74px;}
.bx-wrapper .bx-prev:hover {background-position: 0 0;}
.bx-wrapper .bx-next {right: 0;background: url("assets/img/btn-nav.png") no-repeat;background-position: -40px -74px;}
.bx-wrapper .bx-next:hover {background-position: -40px 0;}
.bx-wrapper .bx-controls-direction a {position: absolute;top: 50%;margin-top: -37px;outline: 0;width: 40px;height: 74px;text-indent: -9999px;z-index: 9;}
.bx-wrapper .bx-controls-direction a.disabled {display: none;}
.gradient {background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.45) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#a6000000",GradientType=0);bottom: 0;content: "";display: none;height: 60%;left: 0;position: absolute;width: 100%;z-index: 2;}
#featured-content {background-color: #fff;margin-bottom: 25px;padding: 25px 25px 25px 25px;position: relative;}
#featured-content .featured-wrap {position: relative;}
#featured-content .featured-slide {position: relative;}
#featured-content .featured-slide img {width: 100%;}
#featured-content .featured-slide .thumbnail-link {display: block;}
#featured-content .featured-slide .entry-header {display: none;position: absolute;bottom: 10px;left: 0;z-index: 99;padding: 20px;}
#featured-content .featured-slide .entry-title {line-height: 1.1;font-size: 28px;}
#featured-content .featured-slide .entry-title a {color: #fff;}
#featured-content .featured-slide .entry-category {position: absolute;top: 0;left: 0;display: block;}
#featured-content .featured-slide .entry-category a {display: block;}
#featured-content .featured-slide .entry-summary {display: none;line-height: 1.8;}
#featured-content .featured-slide .entry-summary p {display: inline;}
.ribbon {position: absolute;left: -5px;top: -5px;z-index: 111;overflow: hidden;width: 75px;height: 75px;text-align: right;display: none;}
.ribbon span {font-size: 12px;color: #fff;text-transform: uppercase;text-align: center;line-height: 20px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);width: 100px;display: block;background: #ffbe02;background: linear-gradient(#ffbe02 0%,#fbb034 100%);box-shadow: 0 3px 10px -5px black;position: absolute;top: 19px;left: -21px;}
.ribbon span::before {content: "";position: absolute;left: 0px;top: 100%;z-index: -1;border-left: 3px solid #fbb034;border-right: 3px solid transparent;border-bottom: 3px solid transparent;border-top: 3px solid #fbb034;}
.ribbon span::after {content: "";position: absolute;right: 0px;top: 100%;z-index: -1;border-left: 3px solid transparent;border-right: 3px solid #fbb034;border-bottom: 3px solid transparent;border-top: 3px solid #fbb034;}
.slicknav_btn {position: relative;display: block;vertical-align: middle;float: right;cursor: pointer;}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {margin-top: .188em;}
.slicknav_menu {}
.slicknav_menu .slicknav_menutxt {display: block;line-height: 18px;float: right;}
.slicknav_menu .slicknav_icon {float: left;width: 1.125em;height: .875em;margin: .188em 8px 0 0;}
.slicknav_menu .slicknav_icon:before {background: transparent;width: 1.125em;height: .875em;display: block;content: "";position: absolute;}
.slicknav_menu .slicknav_no-text {margin: 0;}
.slicknav_menu .slicknav_icon-bar {display: block;width: 1.125em;height: .125em;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;}
.slicknav_menu:before {content: " ";display: table;}
.slicknav_menu:after {content: " ";display: table;clear: both;}
.slicknav_nav {clear: both;}
.slicknav_nav ul, .slicknav_nav li {display: block;}
.slicknav_nav .slicknav_arrow {font-size: .8em;color: #333;margin: 0 20px 0 .4em;float: right;}
.slicknav_nav .slicknav_item {cursor: pointer;}
.slicknav_nav .slicknav_item a {display: inline;}
.slicknav_nav .slicknav_row, .slicknav_nav a {display: block;}
.slicknav_nav .slicknav_parent-link a {display: inline;}
.slicknav_brand {float: left;}
.slicknav_menu {font-size: 16px;box-sizing: border-box;}
.slicknav_menu * {box-sizing: border-box;}
.slicknav_menu .slicknav_menutxt {color: #333;font-size: 12px;text-transform: uppercase;letter-spacing: 1px;}
.slicknav_menu .slicknav_menutxt:hover {color: #333;}
.slicknav_menu .slicknav_icon-bar {background-color: #333;}
.slicknav_btn {height: 20px;margin: 31px 45px 24px;text-decoration: none;}
.slicknav_nav {background: #fff;border-top: 3px solid;margin: 0;padding: 0;font-size: .875em;list-style: none;overflow: hidden;position: relative;z-index: 999;}
.slicknav_nav .sub-menu {text-indent: 20px;}
.slicknav_nav .sub-menu .sub-menu {text-indent: 40px;}
.slicknav_nav ul {list-style: none;overflow: hidden;padding: 0;margin: 0 0 0 0;}
.slicknav_nav .slicknav_row {padding: 0;margin: 0;}
.slicknav_nav a {padding: 0 0 0 20px;border-bottom: 1px solid #f0f0f0;margin: 0;text-decoration: none;color: #333;height: 42px;line-height: 42px;font-size: 14px;text-align: left;text-transform: uppercase;-webkit-backface-visibility: hidden;}
.slicknav_nav a:hover {background-color: #f6f6f6;}
.slicknav_nav .slicknav_txtnode {margin-left: 15px;}
.slicknav_nav .slicknav_item a {padding: 0 0 0 20px;margin: 0;border-bottom: none;}
.slicknav_nav .slicknav_parent-link a {padding: 0;margin: 0;}
.slicknav_brand {color: #fff;font-size: 18px;line-height: 30px;padding: 7px 12px;height: 44px;}
.slicknav_menu {display: block;text-align: center;width: 100%;line-height: 70px;transition: all .1s ease;-webkit-transition: all .1s ease;-o-transition: all .1s ease;-ms-transition: all .1s ease;-moz-transition: all .1s ease;}
.slicknav_btn {display: inline-block;}
#slick-mobile-menu {width: 100%;}
body, input, input[type="text"], input[type="email"], input[type="url"], input[type="search"], input[type="password"], textarea, table, .sidebar .widget_ad .widget-title, .site-footer .widget_ad .widget-title {font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;}
#secondary-menu li a, .footer-nav li a, .pagination .page-numbers, button, .btn, input[type="submit"], input[type="reset"], input[type="button"], .comment-form label, label, h1, h2, h3, h4, h5, h6 {font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;}
.site-title a:hover, a:hover, .site-header .search-icon:hover span, .site-header .search-icon:hover span:before, .sf-menu li a:hover, .sf-menu li li a:hover, .sf-menu li.sfHover a, .sf-menu li.current-menu-item a, .sf-menu li.current-menu-item a:hover, .breadcrumbs .breadcrumbs-nav a:hover, .read-more a, .read-more a:visited, .entry-title a:hover, article.hentry .edit-link a, .author-box a, .page-content a, .entry-content a, .comment-author a, .comment-content a, .comment-reply-title small a:hover, .sidebar .widget a, .site-footer .widget a, .sidebar .widget ul li a:hover, .site-footer .widget ul li a:hover {color: #037ef3;}
button, .btn, input[type="submit"], input[type="reset"], input[type="button"], #back-top a span {background-color: #037ef3;}
.read-more a:hover, .author-box a:hover, .page-content a:hover, .entry-content a:hover, .widget_tag_cloud .tagcloud a:hover:before, .entry-tags .tag-links a:hover:before, .content-list .entry-title a:hover, article.hentry .edit-link a:hover, .comment-content a:hover, .pagination .page-numbers:hover, .pagination .page-numbers.current {color: #037ef3;}
#back-top a:hover span, .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .widget_newsletter input[type="submit"], .widget_newsletter input[type="button"], .widget_newsletter button {background-color: #ffbe02;}
.slicknav_nav, .sf-menu li a:before {border-color: #037ef3;}
.sidebar .widget a:hover, .site-footer .widget a:hover {color: #ffbe02;}
.header-search {border-color: #ffbe02;}