<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	“滨江，您好！”的评论	</title>
	<atom:link href="https://jmbjj.gitlab.io/comments/feed" rel="self" type="application/rss+xml" />
	<link>http://jmbjj.gitlab.io/</link>
	<description>NEWS</description>
	<lastBuildDate>2019-12-24 02:34:58</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.5</generator>
</channel>
</rss>
